{% extends 'base.html' %}
{% load static %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block title %}
Signup
{% endblock %}

{% block content %}
    <div class="container-fluid full-height">
 
            <form method="post" class="form-wrapper">
                
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group">
                        {{ field.label }}
                        {{ field }}
                    </div>
                    {% endfor %}
                    {{ form.non_field_errors }}
                    <button type="submit" class="btn btn-primary">Login</button>  
                    <a href="{% url 'signup' %}"><button class="btn" type="button">Sign up</button></a>  
            </form>
    </div>

{% endblock %}