{% extends '../base/base.html' %}
{% load static %}
{% block header %}
<!-- Link for "font-awesome" from cdnjs.com-->
<link rel="stylesheet" href="{% static 'css/logedin.css' %}">
{% endblock %}
{% block title %}
Berliner
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
<div class="container-fluid full-height">
    <div class="row">
        <div class="h-75 col-sm-12 offset-lg-2 col-lg-2 bg-light border border-light rounded">
            
            
                {% block menu %}
                {% endblock %}

        </div>
        <div class="col-sm-12 col-lg-4">

            {% block main %}
            {% endblock %}    

        </div>
        <div class="h-75 col-sm-12 col-lg-2 border border-light rounded bg-light" id="members">
            
            {% block info %}
            {% endblock %}    

        </div>
    </div>
</div>


{% block outside %}

{% endblock %}


<script src="{% static 'js/logedin.js' %}"></script>

{% block script %}
{% endblock %}

{% endblock %}