{% extends '../base/base.html' %}
{% load static %}
{% block header %}
<!-- Link for "font-awesome" from cdnjs.com-->
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block title %}
Berliner
{% endblock %}
{% block content %} 
    <!-- Main content -->
    <div id="home" class="container-fluid full-height d-flex flex-column justify-content-between">
        <div class="row align-items-start">
            <div class="col-12 head">
                    <p class="text-center">Berliner</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 body">
                    <p class="text-center">We connect people </p>
                </div> 
                <div class="col-12 body">
                    <a href="sign_in"><p class="text-center" >Join us</p></a>
                </div>                 
            </div>            
        </div> 
    </div>

    <div id="join" class="container-fluid full-height d-flex flex-column justify-content-between">
        <div class="row align-items-start">
            <div class="col-12 head">
                    <p class="text-center">Feel alone?</p>
            </div>
        </div>
        <div class="row">
                <div class="col-12 body">
                    <a href="sign_in"><p class="text-center" >Find a group that fits you</p></a>
                </div>                 
            </div>            
        </div> 
    </div>

    <div id="create" class="container-fluid full-height d-flex flex-column justify-content-between">
        <div class="row align-items-start">
            <div class="col-12 head">
                    <p class="text-center">Can't find a team that fits you?</p>
            </div>
        </div>
        <div class="row">
                <div class="col-12 body">
                    <a href="sign_in"><p class="text-center">Create your own</p></a>
                </div>                 
            </div>            
        </div> 
    </div>
{% endblock %} 
