html{
    scroll-behavior: smooth;
}
.errorlist{
    color: rgb(222, 12, 12);
}
.full-height { 
    padding-top: 8vh;
    min-height: 100vh;
    height: 100vh;
}

body{
    background-color: rgb(253, 253, 253);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
}