#team-names .team-name:hover{
    text-decoration: none;
    background-color: #b7bcbdd5;
}

#applications .application:hover{
    text-decoration: none;
    background-color: #b7bcbdd5;
}


.post-header{
    margin-top: 5px;
    text-align: center;
}
.post-body{
    margin: 0 20px;
}
.post:hover{
    text-decoration: none;
    background-color: #d8ddded5;
}