{% extends 'base/base_logedin.html' %}
{% load static %}

{% block menu %}
    <div id="menu">
        {% for application in object.applications %}
        <p class="application" data-details="{{ application }}"><a class="btn">{{ application }}</a></p>
        {% empty %}
        <p class="application" data-details="No applications"><a class="btn">No applications</a></p>
        {% endfor %}
    </div>
{% endblock %}

{% block main %}
    {% for application in object.applications %}
    <div class="{{ application }}">
        {% for post in application.getPublicPosts %}
        <div class="post border border-light">
            <p class="post-header"><b>{{ post.author.first_name }} {{ post.author.last_name }}</b> @<i>{{ post.team.name }}:</i> </p>
            <p class="post-body">{{ post.content }}</p>
            <p class="post-footer"></p>
        </div>
        {% empty %}
        <div class="post border border-light">
            <p class="post-header"><b>No public posts</b></p>
        </div>
        {% endfor %}
    </div>
    {% empty %}
    <div class="post border border-light">
        <p class="post-header"><b>No applications posts</b></p>
    </div>
    {% endfor %}    
{% endblock %}

{% block info %}
    {% for application in object.applications %}
        <div class="{{ application }}">
            <p>{{ application.applicant.username }}</p>
            <p>Applied to: {{ application.team.name }}</p>
            <p>Comment: {{ application.comment }}</p>
            <form method="post">
                {% csrf_token %}
                <button class="btn btn-primary" name="{{ application.applicant.username }}" type="submit"> Accept</button>
            </form>
        </div>
    {% empty %}
        <div id="No applications">
            <p>No applications</p>
        </div>
    {% endfor %}        
{% endblock %}

