{% extends 'base/base-logedin.html' %}
{% load static %}

{% block menu %}
    <div id="applications">
        {% for application in object.applications %}
        <p class="application" data-details="{{ application }}"><a class="btn">{{ application }}</a></p>
        {% endfor %}
    </div>
{% endblock %}

{% block main %}  
{% endblock %}

{% block info %}
    {% for application in object.applications %}
        <div id="{{ application }}">
            <p>{{ application.applicant.username }}</p>
            <p>Applied to: {{ application.team.name }}</p>
            <p>Comment: {{ application.comment }}</p>
            <form method="post">
                {% csrf_token %}
                <button class="btn btn-primary" name="{{ application.applicant.username }}" type="submit"> Accept</button>
            </form>
        </div>
    {% endfor %}        
{% endblock %}

{% block script %}
<script src="{% static 'js/applications.js' %}"></script>
{% endblock %}