{% extends '../base/base.html' %}
{% load static %}
{% block header %}
<!-- Link for "font-awesome" from cdnjs.com-->
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block title %}
Berliner
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
<div class="container-fluid full-height">
    <div class="row">
        <div class="col-sm-12 col-lg-3 border border-dark rounded" id="team-names">

            <div class="h-25" id="application-team-names">
                {% for application in object_list %}
                <p><a class="btn">{{ application.applicant.username }}</a></p>
                {% endfor %}
            </div>


        </div>
        <div class="col-sm-12 col-lg-6"></div>
        <div class="col-sm-12 col-lg-3 border border-dark rounded" id="info">
            {% for application in object_list %}
                <div>
                <p>{{ application.applicant.username }}</p>
                <p>Applied to: {{ application.team.name }}</p>
                <p>Comment: {{ application.comment }}</p>
                <form method="post">
                    {% csrf_token %}
                    <button class="btn btn-primary" name="{{ application.applicant.username }}" type="submit"> Accept</button>
                </form>
                </div>
            {% endfor %}            
        </div>
    </div>

</div>
<script src="{% static 'js/applications.js' %}"></script>

{% endblock %}