{% extends '../base/base.html' %}
{% load static %}
{% block header %}
<!-- Link for "font-awesome" from cdnjs.com-->
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block title %}
Berliner
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
<div class="container-fluid full-height">
    <div class="row">
        <div class="col-sm-12 col-lg-4 border border-light">
            {% for team in teams %}
            <p><a href="{% url 'edit' team.pk %}">{{ team.name }}</a></p>
            {% endfor %}
            <a class="btn" href="{% url 'create'%}">Create a team</a>
        </div>
        <div class="col-sm-12 col-lg-4"></div>
        <div class="col-sm-12 col-lg-4">
            {% for team in teams %}
                {% for member in team.members.all %}
                <li class="">{{ member.username }}</li>
                {% empty %}
                <li class="">Sorry, no users in this group.</li>
                {% endfor %}
            {% endfor %}            
        </div>
    </div>

</div>

{% endblock %}