{% extends 'base/base_logedin.html' %}
{% load static %}

{% block menu %}
    <div id="menu">
        {% for team in object.teams %}
            <p class="team-name" data-details="{{ team.name }}"><a class="btn">{{ team.name }}</a></p>
        {% empty %}
            <p class="team-name" data-details="No teams"><a class="btn">No teams</a></p> 
        {% endfor %}
    </div>
{% endblock %}

{% block main %}
    {% for post in object.posts %}
    <div class="post border border-light">
        <span class="post-header"><b>{{ post.author.first_name }} {{ post.author.last_name }}</b> @<i>{{ post.team.name }}:</i> </span>
        <span class="post-body">{{ post.content }}</span>
        <span class="post-footer">{{ post.date }} <button class="btn comment" data-details="{{ post.pk }}"> Comment </button></span>
    </div>
    <form class="form-wrapper {{ post.pk }}">
        <div class="form-group">
            <label for="comment">Comment:</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% empty %}
    <div class="post border border-light">
        <p class="post-header"><b>No posts yet</b></p>
    </div>
    {% endfor %}    
{% endblock %}

{% block info %}

    {% for team in object.teams %}
    <div class="{{ team.name }}">
        <p>Team: {{ team.name }}</p>
        <p>Description: {{ team.description }}</p>
        <figure>
            <figcaption>Members:</figcaption>
            <dl>
                {% for membership in team.membership_set.all %}

                    <dt class="">{{ membership.member }}</dt>

                    {% if membership.isLeader %} 
                        <dd class="">{{ membership.member }} is a team leader</dd>
                    {% elif membership.isEditor %}
                        <dd class="">{{ membership.member }} is a team editor</dd>
                    {% endif %}

                {% endfor %}
            </dl>
        </figure>
        
        {% block editor %}
        {% endblock %}
    </div>    
    {% empty %}
        <div id="No teams">
            <p>Team: No teams</p>
        </div> 
    {% endfor %}    

    {% block script %}
        <script src="{% static 'js/index.js' %}"></script>
    {% endblock %}
    
{% endblock %}