{% extends 'base/base-logedin.html' %}
{% load static %}

{% block menu %}
    {% for team in object.teams %}
        <p class="team-name" data-details="{{ team.name }}"><a class="btn">{{ team.name }}</a></p>
    {% endfor %}
{% endblock %}

{% block main %}
    {% for post in object.posts %}
        <p>{{ post.author }} from {{ post.team.name }}: </p>
        <p>{{ post.content }}</p>
    {% endfor %}    
{% endblock %}

{% block info %}
    {% for team in object.teams %}
    <div id="{{ team.name }}">
        <p>Team: {{ team.name }}</p>
        <p>Team leader: {{ team.teamLeader }}</p>
        <p>Members:</p>
        {% for member in team.members.all %}
        <li class="">{{ member.username }}</li>
        {% endfor %}
        <a class="btn" href="{% url 'detail' team.pk %}">Details</a>
        <a class="btn" href="{% url 'edit' team.pk %}">Edit</a>
    </div>    
    {% endfor %}        
{% endblock %}

{% block script %}
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}