{% extends '../base/base.html' %}
{% load static %}
{% block header %}
<!-- Link for "font-awesome" from cdnjs.com-->
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block title %}
Berliner
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
<div class="container-fluid full-height">
    <div class="row">
        <div class="col-sm-12 col-lg-4 border border-light">
            {% for team in object_list %}
                <p>{{ team.name }}</p>
                <p><a class="btn btn-primary" href="{% url 'apply' team.pk %}">Apply</a><a class="btn">Details</a></p>  
            {% endfor %}
            <a class="btn" href="{% url 'index'%}">back</a>
        </div>
        <div class="col-sm-12 col-lg-4"></div>
        <div class="col-sm-12 col-lg-4">
      
        </div>
    </div>

</div>

{% endblock %}