{% extends '../base/base.html' %}
{% load static %}
{% block header %}
<!-- Link for "font-awesome" from cdnjs.com-->
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block title %}
Berliner
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
<div class="container-fluid full-height">
    <div class="row h-75">
        <div class="col-sm-12 col-lg-3 border border-light rounded" id="team-names">
            <div class="h-25" id="my-team-names">
            {% for team in object_list %}
                <p><a class="btn">{{ team.name }}</a></p>
            {% endfor %}
            </div>
            <a class="btn" href="{% url 'create'%}">Create a team</a>

            <div id="member-team-names">
                {% for membership in data.memberships %}
                    <p><a class="btn">{{ membership.team.name }}</a></p>
                {% endfor %}
                </div>
        </div>
        <div class="col-sm-12 col-lg-6"></div>
        <div class="col-sm-12 col-lg-3 border border-light rounded" id="members">
            {% for team in object_list %}
            <div>
                <p>Team: {{ team.name }}</p>
                <p>Team members: </p>
                {% for member in team.members.all %}
                <li class="">{{ member.username }}</li>
                {% endfor %}
                <a class="btn" href="{% url 'detail' team.pk %}">Details</a>
                <a class="btn" href="{% url 'edit' team.pk %}">Edit</a>
            </div>    

            {% endfor %}        
        </div>
    </div>
</div>
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}