{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    {% block header %}
    {% endblock %}
    <title>{% block titile %}{% endblock %}</title>
</head>
<body>
    <!-- Navbar -->
    <div class="navbar" id="nav">
        <div class="container flex">
            <h1 class="logo" id="logo"><a>Berliner</a></h1>
            <ul id="navlist">
                <li><a href="#content" onclick="closeFunc()">Home</a></li>
                <li><a href="#join" onclick="closeFunc()">Become part of the group</a></li>
                <li><a href="#create" onclick="closeFunc()">Create a group</a></li>
                <li><a href="login.html">Log in</a></li>
           
            </ul>
        </div>
        <a href="javascript:void(0);" id="menu" class="icon" onclick="openFunc()"><i class="fa fa-bars"></i></a>

    </div>
    {% block content %}    
   {% endblock %}
   <script>
    let flag = document.documentElement.clientWidth <= 600;
    if(flag){
        document.getElementById("navlist").style.display="none";
    }
    else {
        document.getElementById("menu").style.display="none";
    }
    function openFunc(){
        if (!flag) return;
        var x = document.getElementById("nav").offsetHeight;
        var b = document.documentElement.clientHeight;
        if(x != b) {
            document.getElementById("nav").style.height="100vh";
            document.getElementById("navlist").style.display="block";
        }
        else{
            document.getElementById("nav").style.height="8vh";
            document.getElementById("navlist").style.display="none";
        }
    }
    function closeFunc(){
        if(!flag) return;
        document.getElementById("nav").style.height="8vh";
        document.getElementById("navlist").style.display="none";
    }
</script>   
</body>
</html>
