{% extends 'base.html' %}
{% load static %}
{% block header %}
<!-- Link for "font-awesome" from cdnjs.com-->
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block title %}
Berliner
{% endblock %}
{% block content %} 
    <!-- Main content -->
    <section id="home" class="background">
        <div class="content">
            <div class="head">
                <p>Berliner</p>
            </div>
            <div class="body">
                <h2>We connect people </h2>
                <a href="sign_in">Join us</a>
            </div>

        </div>
</section>

<section id="join" class="background">
    <div class="content">
        <div class="head">
            <p>Feel alone?</p>
        </div>
        <div class="body">
            <a href="sign_in">Find a group that fits you</a>
        </div>
    </div>    
</section>

<section id="create">
    <div class="content">
        <div class="head">
            <p>Can't find a team that fits you?</p>
        </div>
        <div class="body">
            <a href="sign_in">Create your own</a>
        </div>
    </div>    
</section> 
{% endblock %} 
